/* Imports */
@import "_reset";
@import "_variables";
@import "_utilities";
//@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;400&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round:wght@400&display=swap');


body{
  @extend .flex;
  //@extend .padded-large;
  justify-content: center;
  align-items: start;
  position: relative;
  background-color: $color-body-bg;
  color: white;
}

.blurred-background{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  background: url(../images/dark-background.jpg) no-repeat 0 0;
  background-size: cover;
  border-radius: $spacing-medium;
  filter: blur(100px);
  //display: none
}

.glassy-background{
  padding: $spacing-largest;
  background-color: rgb(255 255 255 / 10%);
  backdrop-filter: blur(50px);
  border: 1px solid transparentize($color: white, $amount: 0.9)
}

.site-container{
  @extend .flex-vertical;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  //width: calc(100% - ($spacing-large*2));
  width: 100%;
  max-width: 1440px;
  height: 100%;
  flex-grow: 1;
  //background: url(../images/dark-background.jpg) no-repeat 0 0;
  background: transparent;
  background-size: cover;
  //backdrop-filter: blur(20px);
  //border: 1px solid white;
  //border: 1px solid transparentize($color: white, $amount: 0.9);
  //border-radius: $spacing-medium;
  overflow: hidden;
}

.toolbar{
  @extend .flex-spread;
  @extend .glassy-background;
  position: fixed;
  top: 0;
  left: auto;
  z-index: 100;
  width: 75%;
  max-width: 1440px;
  margin-top: $spacing-large;
  //border-width: 0 0 1px;
  border-radius: 50px;
  padding: $spacing-small $spacing-large;

  ul{
    @extend .flex;
    width: 100%;
    margin: 0;
    padding: 0;

    li{
      @extend .margin-right-large;
      margin-bottom: 0 !important;
      font-family: $font-stack-default;
      line-height: 1;
      color: white;

      &.agentyc-brand{
        @extend .flex;

        img{
          margin-right: 10px;
        }
      }

      strong{
        font-weight: 700;
      }

      a{
        color: white;
        text-decoration: none;
        opacity: 0.5;

        &:hover{
          opacity: 1;
        }
      }

      &:last-child{
        margin-right: 0;
      }

    }

    &.trailing{
      max-width: 120px;

      @media(max-width:$breakpoint-tablet-max){
        display: none;
      }
    }

    @media(max-width:$breakpoint-tablet-max){
      justify-content: center;
    }

  }

  @media(max-width:$breakpoint-mobile-max){
    display: none;
  }

}


section{
  @extend .flex-vertical;
  @extend .padded-large;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 100px;

  h2.section-title{
    margin-bottom: $spacing-largest !important;
  }

  @media(max-width:$breakpoint-mobile-max){
    padding-top: 100px;
  }
}


.hero{
  padding-top: 100px;

  img{
    max-width: 75%;

    @media(max-width:$breakpoint-mobile-max){
      width: 100%;
      max-width: 100%;
    }
  }

  h2.section-title{
    margin-bottom: $spacing-large !important
  }

  .hero-desc{
    @extend .margin-below-largest;
    text-align: center;
  }

  @media(max-width:$breakpoint-mobile-max){
    padding-top: 40px;

    .agentyc-brand{
      display: block;
      margin-bottom: 40px
    }
  }
}


.how-it-works{
  @extend .flex;
  width: 100%;

  .object{
    @extend .flex-vertical;
    @extend .glassy-background;
    width: 100%;
    margin-right: $spacing-large;
    padding: $spacing-large;
    border-radius: $spacing-medium;

    @media(max-width:$breakpoint-mobile-max){
      margin-bottom: $spacing-larger;
    }
  }

  .object-icon{
    width: 32px;
    height: 32px;
    margin-bottom: $spacing-medium;
    opacity: 0.3;
  }

  .object-title{
    width: 100%;
    margin-bottom: $spacing-medium
  }

  .object-description{
    width: 100%;

    p{
      margin-bottom: 0
    }
  }
}


.how-they-interact{
  @extend .flex;
  width: 100%;
  padding: 0 10%;

  .relationship{
    width: 24%;
    margin-right: 1%;
    padding: 2% 0 0 0;
    border-color: transparentize($color: white, $amount: 0.5);
    border-width: 0 1px 1px;
    border-style: dashed;
    border-radius: 0 0 $spacing-medium $spacing-medium;
    text-align: center
  }

  p{
    @extend .agentyc-brand;
    //font-family: "IBM Plex Mono";
    text-transform: uppercase;
    font-size: $font-size-regular
  }

  @media(max-width:$breakpoint-mobile-max){
    display: none;
  }
}


.feature{
  @extend .flex;
  @extend .row-to-column;
  align-items: center;
  max-width: 75%;
  margin-bottom: $spacing-largest*2;
  padding: 0;
  border-radius: $spacing-medium;

  .feature-media-container-left{
    width: 50%;
    max-width: 700px;
    padding: 0;

    img{
      width: 100%;
    }

    @media(max-width:$breakpoint-tablet-max){
      width: 100%;
      margin-bottom: $spacing-large;
    }
  }

  .feature-media-container-right{
    width: 50%;
    max-width: 700px;
    padding: 0;

    img{
      width: 100%;
    }

    @media(max-width:$breakpoint-tablet-max){
      width: 100%;
      margin-bottom: $spacing-large;
    }
  }

  .feature-description{
    flex: 3;
    padding: 0 $spacing-largest; // $spacing-largest $spacing-larger;

    ul, li{
      font-size: $font-size-regular;
    }

    @media(max-width:$breakpoint-tablet-max){
      display: block;
      width: 100%;
      padding: 0 !important;
      text-align: center;
    }
  }

  .feature-title{
    margin-bottom: $spacing-large
  }

  &.media-on-right{
    @media(max-width:$breakpoint-tablet-max){
      flex-direction: column-reverse;
    }
  }

  @media(max-width:$breakpoint-tablet-max){
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    padding: 0 $spacing-medium;
  }
}


.getting-started{
  @extend .flex;
  @extend .glassy-background;
  @extend .padded;
  border-radius: $spacing-large;

  .starting-step{
    @extend .flex;
    flex: 1;
    margin-right: $spacing-large;
    padding-right: $spacing-large;

    @media(max-width:$breakpoint-mobile-max){
      margin: 0 0 $spacing-largest;
      padding: 0;
    }
  }

  .step-number{
    display: inline-block;
    margin-right: $spacing-medium;
    font-size: 96px;
    font-weight: 700;
    opacity: 0.1;

    @media(max-width:$breakpoint-mobile-max){
      font-size: 64px;
    }
  }

  .step-title{
    margin-bottom: $spacing-small;
  }

  @media(max-width:$breakpoint-mobile-max){
    padding: $spacing-larger;
  }

  
}


footer{
  @extend section;
  padding-bottom: 200px;
}


.rao-design-logo{
  height: 64px;
  opacity: 0.5;
}



/* Typography */
h1{
  margin-bottom: $spacing-large;
  font-size: 48px;
  font-weight: 700 !important;
  color: white;
}

h2.section-title{
  margin-bottom: $spacing-large !important;
  font-size: $font-size-xxxlarge;
  color: white;
  opacity: 0.5;
  text-align: center;

  .agentyc-brand{ 
    font-weight: 400 !important;
  }
}

h3{
  font-size: $font-size-xxlarge;
}

p{
  font-size: $font-size-large;
}

.btn{
  display: inline-block;
  padding: $spacing-small $spacing-large !important;
}

.btn-ghost{
  color: white;
  background: transparent !important;
  border: 1px solid white !important;
  border-radius: $spacing-small;

  &:hover{
    background: white !important;
    color: black;
  }
}

.agentyc-brand{
  font-family: "Varela Round" !important; // "IBM Plex Mono"
}
